.button {
	display: inline-block;
	cursor: pointer;
	border: 0;
	border-radius: 3em;
	font: var(--font-button);
	transition: all 0.2s ease-in-out;
}

.primary {
	background-color: var(--color-primary-600);
	color: var(--color-text-inverse);
}

.secondary {
	box-shadow: var(--color-focus-ring) 0px 0px 0px 1px inset;
	background-color: transparent;
	color: var(--color-text-primary);
}

.small {
	padding: 10px 16px;
	font-size: 12px;
}

.medium {
	padding: 11px 20px;
	font-size: 14px;
}

.large {
	padding: 12px 24px;
	font-size: 16px;
}

.button:hover {
	transform: translateY(-1px);
}

.primary:hover {
	background-color: var(--color-primary-700);
}

.secondary:hover {
	box-shadow: var(--color-focus-ring) 0px 0px 0px 2px inset;
} 